# Dataframes

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
np.random.seed(10)

Dataframe is composed of pandas series(W,x....) that share common index(a,b,c)

In [5]:
df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'],['W','X','Y','Z'])

In [6]:
df

          W         X         Y         Z
a  1.331587  0.715279 -1.545400 -0.008384
b  0.621336 -0.720086  0.265512  0.108549
c  0.004291 -0.174600  0.433026  1.203037
d -0.965066  1.028274  0.228630  0.445138
e -1.136602  0.135137  1.484537 -1.079805

In [8]:
df['W']

a    1.331587
b    0.621336
c    0.004291
d   -0.965066
e   -1.136602
Name: W, dtype: float64

In [9]:
type(df['W'])

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
a  1.331587  0.715279 -1.545400 -0.008384  2.046865
b  0.621336 -0.720086  0.265512  0.108549 -0.098750
c  0.004291 -0.174600  0.433026  1.203037 -0.170309
d -0.965066  1.028274  0.228630  0.445138  0.063208
e -1.136602  0.135137  1.484537 -1.079805 -1.001465

axis = 0 referes to index(a,b,d,e), axis = 1 means column.
If we keep inplace = True, the underlying dataframe gets modified, so by default, it is set to false.

In [29]:
df.drop('new',axis=1)
df

          W         X         Y         Z       new
a  1.331587  0.715279 -1.545400 -0.008384  2.046865
b  0.621336 -0.720086  0.265512  0.108549 -0.098750
c  0.004291 -0.174600  0.433026  1.203037 -0.170309
d -0.965066  1.028274  0.228630  0.445138  0.063208
e -1.136602  0.135137  1.484537 -1.079805 -1.001465

In [30]:
df.drop('new', axis = 1, inplace=True)
df

          W         X         Y         Z
a  1.331587  0.715279 -1.545400 -0.008384
b  0.621336 -0.720086  0.265512  0.108549
c  0.004291 -0.174600  0.433026  1.203037
d -0.965066  1.028274  0.228630  0.445138
e -1.136602  0.135137  1.484537 -1.079805

In [32]:
df.drop('e', axis = 0)

          W         X         Y         Z
a  1.331587  0.715279 -1.545400 -0.008384
b  0.621336 -0.720086  0.265512  0.108549
c  0.004291 -0.174600  0.433026  1.203037
d -0.965066  1.028274  0.228630  0.445138

In [36]:
df[['W','X','Z']]

          W         X         Z
a  1.331587  0.715279 -0.008384
b  0.621336 -0.720086  0.108549
c  0.004291 -0.174600  1.203037
d -0.965066  1.028274  0.445138
e -1.136602  0.135137 -1.079805

Just specify column labels to get the particular columns. But in case of rows, we need to use loc[] or iloc[]

In [38]:
df.loc['a']

W    1.331587
X    0.715279
Y   -1.545400
Z   -0.008384
Name: a, dtype: float64

In [41]:
df.iloc[0]

W    1.331587
X    0.715279
Y   -1.545400
Z   -0.008384
Name: a, dtype: float64

In [43]:
df.loc['c','X']

-0.17460021059294129

In [44]:
df.loc[['b','d'],['X','Z']]

          X         Z
b -0.720086  0.108549
d  1.028274  0.445138