# Dataframes

In [5]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
np.random.seed(10)

Dataframe is composed of pandas series(W,x....) that share common index(a,b,c)

In [6]:
df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'],['W','X','Y','Z'])

In [6]:
df

          W         X         Y         Z
a  1.331587  0.715279 -1.545400 -0.008384
b  0.621336 -0.720086  0.265512  0.108549
c  0.004291 -0.174600  0.433026  1.203037
d -0.965066  1.028274  0.228630  0.445138
e -1.136602  0.135137  1.484537 -1.079805

In [8]:
df['W']

a    1.331587
b    0.621336
c    0.004291
d   -0.965066
e   -1.136602
Name: W, dtype: float64

In [9]:
type(df['W'])

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
a  0.775295  0.727755  0.298826 -0.092898  1.503050
b -0.612578  0.357031 -0.830454  0.271668 -0.255548
c -0.812124  0.668172  0.918348 -0.663649 -0.143952
d -0.195927  0.743231  0.518780  1.616990  0.547304
e -0.594138 -0.835941 -1.933859  0.242024 -1.430079

axis = 0 referes to index(a,b,d,e), axis = 1 means column.
If we keep inplace = True, the underlying dataframe gets modified, so by default, it is set to false.

In [9]:
df.drop('new',axis=1)
df

          W         X         Y         Z       new
a  0.775295  0.727755  0.298826 -0.092898  1.503050
b -0.612578  0.357031 -0.830454  0.271668 -0.255548
c -0.812124  0.668172  0.918348 -0.663649 -0.143952
d -0.195927  0.743231  0.518780  1.616990  0.547304
e -0.594138 -0.835941 -1.933859  0.242024 -1.430079

In [30]:
df.drop('new', axis = 1, inplace=True)
df

          W         X         Y         Z
a  1.331587  0.715279 -1.545400 -0.008384
b  0.621336 -0.720086  0.265512  0.108549
c  0.004291 -0.174600  0.433026  1.203037
d -0.965066  1.028274  0.228630  0.445138
e -1.136602  0.135137  1.484537 -1.079805

In [32]:
df.drop('e', axis = 0)

          W         X         Y         Z
a  1.331587  0.715279 -1.545400 -0.008384
b  0.621336 -0.720086  0.265512  0.108549
c  0.004291 -0.174600  0.433026  1.203037
d -0.965066  1.028274  0.228630  0.445138

In [10]:
df[['W','X','Z']]

          W         X         Z
a  0.775295  0.727755 -0.092898
b -0.612578  0.357031  0.271668
c -0.812124  0.668172 -0.663649
d -0.195927  0.743231  1.616990
e -0.594138 -0.835941  0.242024

Just specify column labels to get the particular columns. But in case of rows, we need to use loc[] or iloc[]

In [38]:
df.loc['a']

W    1.331587
X    0.715279
Y   -1.545400
Z   -0.008384
Name: a, dtype: float64

In [41]:
df.iloc[0]

W    1.331587
X    0.715279
Y   -1.545400
Z   -0.008384
Name: a, dtype: float64

In [43]:
df.loc['c','X']

-0.17460021059294129

In [11]:
df.loc[['b','d'],['X','Z']]

          X         Z
b  0.357031  0.271668
d  0.743231  1.616990

# Dataframe comparisons

In [15]:
df > 0

       W      X      Y      Z    new
a   True   True   True  False   True
b  False   True  False   True  False
c  False   True   True  False  False
d  False   True   True   True   True
e  False  False  False   True  False

Selecting values based on some condition. It returns NaN if condition fails for that value.

In [14]:
df[df>0]

          W         X         Y         Z       new
a  0.775295  0.727755  0.298826       NaN  1.503050
b       NaN  0.357031       NaN  0.271668       NaN
c       NaN  0.668172  0.918348       NaN       NaN
d       NaN  0.743231  0.518780  1.616990  0.547304
e       NaN       NaN       NaN  0.242024       NaN

In [16]:
df[df['X'] > 0][['W','Z']]

          W         X         Y         Z       new
a  0.775295  0.727755  0.298826 -0.092898  1.503050
b -0.612578  0.357031 -0.830454  0.271668 -0.255548
c -0.812124  0.668172  0.918348 -0.663649 -0.143952
d -0.195927  0.743231  0.518780  1.616990  0.547304