# DataFrame MultiIndex and Index Hierarchy

In [9]:
import numpy as np
import pandas as pd

In [5]:
outside = ['G1','G1','G1', 'G2', 'G2','G2']
inside = [1,2,3,1,2,3]
higher_index = list(zip(outside,inside))
higher_index = pd.MultiIndex.from_tuples(higher_index)
higher_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [14]:
df = pd.DataFrame( np.random.randn(6,2) , higher_index, ['A','B'] )
df

             A         B
G1 1  2.641866  0.018362
   2  0.941670 -0.584640
   3  1.273788  0.300589
G2 1  0.549342  0.707840
   2 -0.083131  0.793997
   3  0.202617 -0.162898

In [15]:
df.loc['G1']

          A         B
1  2.641866  0.018362
2  0.941670 -0.584640
3  1.273788  0.300589

In [19]:
df.loc['G1'].loc[1]

A    2.641866
B    0.018362
Name: 1, dtype: float64

In [21]:
df.loc['G2'].loc[2]['B']

0.7939974435980256

In [25]:
df.index.names = ["Groups", "num"]
df

                   A         B
Groups num
G1     1    2.641866  0.018362
       2    0.941670 -0.584640
       3    1.273788  0.300589
G2     1    0.549342  0.707840
       2   -0.083131  0.793997
       3    0.202617 -0.162898

In [27]:
df.xs(1,level ="num")

               A         B
Groups
G1      2.641866  0.018362
G2      0.549342  0.707840