# DataFrame MultiIndex and Index Hierarchy

In [3]:
import numpy as np
import pandas as pd

In [5]:
outside = ['G1','G1','G1', 'G2', 'G2','G2']
inside = [1,2,3,1,2,3]
higher_index = list(zip(outside,inside))
higher_index = pd.MultiIndex.from_tuples(higher_index)
higher_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
df = pd.DataFrame( np.random.randn(6,2) , higher_index, ['A','B'] )
df

             A         B
G1 1  0.310760 -0.080650
   2  1.250832  0.379854
   3 -0.410324 -0.581752
G2 1  0.565633  0.376744
   2 -1.100120  0.160748
   3  0.702458 -1.565979

In [15]:
df.loc['G1']

          A         B
1  2.641866  0.018362
2  0.941670 -0.584640
3  1.273788  0.300589

In [19]:
df.loc['G1'].loc[1]

A    2.641866
B    0.018362
Name: 1, dtype: float64

In [21]:
df.loc['G2'].loc[2]['B']

0.7939974435980256

In [7]:
df.index.names = ["Groups", "num"]
df

                   A         B
Groups num
G1     1    0.310760 -0.080650
       2    1.250832  0.379854
       3   -0.410324 -0.581752
G2     1    0.565633  0.376744
       2   -1.100120  0.160748
       3    0.702458 -1.565979

xs specifies cross section to get data of any row inside Group G1 or G2. It is difficult to perform that with loc, so we use xs. Following code takes "1" row of level "num" in different groups.

In [8]:
df.xs(1,level ="num")

               A         B
Groups
G1      0.310760 -0.080650
G2      0.565633  0.376744

In [9]:
df.xs(3,level="num")

               A         B
Groups
G1     -0.410324 -0.581752
G2      0.702458 -1.565979

# Dropping and filling Nan values

In [10]:
d = { 'A' : [3,2,np.nan], 'B': [np.nan,2,9], 'C': [6,np.nan,5] }

In [11]:
df = pd.DataFrame(d)

In [12]:
df

     A    B    C
0  3.0  NaN  6.0
1  2.0  2.0  NaN
2  NaN  9.0  5.0